#sudoku-grid td {
    border: 1px solid;
    text-align: center;
    aspect-ratio: 1 / 1;
}

#sudoku-grid td:first-child {
    border-left: solid;
}

#sudoku-grid td:nth-child(3n) {
    border-right: solid;
}

#sudoku-grid tr:first-child {
    border-top: solid;
}

#sudoku-grid tr:nth-child(3n) td {
    border-bottom: solid;
}

#sudoku-grid input {
    text-align: center;
    vertical-align: middle;
    aspect-ratio: 1 / 1;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 0px;
    /* To implement dynamic font re-sizing */
    /* font-size: 0.5em; */
}

fieldset {
    border: solid 1px
}

legend {
    font-size: 1.2em;
}

.form-check-label {
    font-size: 0.9em
}

.user-input {
    font-style: italic;
    color: blue !important;
}

.user-error {
    font-style: italic;
    font-weight: bold;
    color: red !important;
}